<div class="container">
  <%= content_tag :h2, "Summary" %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Total Reply</th>
        <th>Attend Both</th>
        <th>Attend Ceremony</th>
        <th>Not Attend</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= @guests.size %></td>
      <td><%= @guests.select{|g| g.state == 'attend_both'}.size %></td>
      <td><%= @guests.select{|g| g.state == 'ceremony_only'}.size %></td>
      <td><%= @guests.select{|g| g.state == 'not_attend'}.size %></td>
    </tr>
  </tbody>
  </table>
  <%= link_to "Download", guests_path(format: :csv), class: "btn btn-default pull-right" %>
  <%= content_tag :h2, "Guest List" %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Reservation ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Reply</th>
        <th>Dietary</th>
        <th>Note</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @guests.each do |guest| %>
      <tr>
        <td><%= link_to guest.reservation_id, edit_reservation_path(guest.reservation) if guest.reservation %></td>
        <td><%= guest.name %></td>
        <td><%= guest.email %></td>
        <td><%= guest.state %></td>
        <td><%= guest.dietary %></td>
        <td><%= guest.note %></td>
        <td><%= link_to "Delete Reservation", guest.reservation, method: :delete, data: {confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
