<div class="container main">
<%= content_tag :h1 do %>
 <%= t(".dylan_wilk") %>
 <%= content_tag :small, t(".tagline") %>
<% end %>
<%= content_tag :div, "", class: "cover" %>
<%= content_tag :p, t(".dylan_paragraph1"), class: "lead" %>
<%= content_tag :p, t(".dylan_paragraph2"), class: "lead" %>
<%= content_tag :p, t(".dylan_paragraph3"), class: "lead" %>
<%= content_tag :p, t(".dylan_paragraph4"), class: "lead" %>
<%= content_tag :p, t(".dylan_paragraph5"), class: "lead" %>
</div>
