<div class="container main">
<%= content_tag :h1 do %>
 <%= t(".dylan_wilk") %>
 <%= content_tag :small, t(".tagline") %>
<% end %>
<%= content_tag :div, "", class: "cover" %>
<%= content_tag :p, t(".description"), class: "lead" %>
</div>
