<!-- Carousel
================================================== -->
<div id="hero-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#hero-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#hero-carousel" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="container">
        <div class="carousel-caption">
          <%= content_tag :h1, t(".color_world_with_love") %>
          <%= content_tag :p, t(".color_world_with_love_description") %>
          <%= content_tag :p, link_to(t(".reserve_your_spot"), new_reservation_path, class: "btn btn-lg btn-primary") %>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="carousel-caption">
          <%= content_tag :h1, t(".save_the_date") %>
          <%= content_tag :p, t(".time_and_location") %>
          <%= content_tag :p, link_to(t(".reserve_your_spot"), new_reservation_path, class: "btn btn-lg btn-primary") %>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#hero-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only"><%= t("global.previous") %></span>
  </a>
  <a class="right carousel-control" href="#hero-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only"><%= t("global.next") %></span>
  </a>
</div><!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-md-4">
    <%= image_tag "rsvp.jpg", class: "img-circle", size: "140x140" %>
      <%= content_tag :h2, t(".rsvp") %>
      <%= content_tag :p, t(".rsvp_description") %>
      <%= content_tag :p do %>
        <%= link_to t(".rsvp_action"), new_reservation_path, class: "btn btn-default" %>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= image_tag "about_us.jpg", class: "img-circle", size: "140x140" %>
      <%= content_tag :h2, t(".our_story") %>
      <%= content_tag :p, t(".our_story_description") %>
      <%= content_tag :p do %>
        <%= link_to t(".our_story_action"), about_us_path, class: "btn btn-default" %>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= image_tag "dylan.png", class: "img-circle", size: "140x140" %>
      <%= content_tag :h2, t(".speaker") %>
      <%= content_tag :p, t(".speaker_description") %>
      <%= content_tag :p do %>
        <%= link_to t(".speaker_action"), dylan_path, class: "btn btn-default" %>
      <% end %>
    </div>
  </div><!-- /.row -->
